.button {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    background-color: #cfcfcf;
    cursor: pointer;
}
.button:hover {
    background-color: #a5a5a5;
}
.button.active {
    background-color: #4caf50;
    color: white;
}
.button.active:hover {
    background-color: #68b06b;
}
